<!-- top nav bar -->

    <div class="hero">
      <nav class="nav">
          <div class="logo-text"><img src="./assets/images/whiteLogoo.ico" class="logo">Vinyl</div>
          <ul>
              <li><a href="https://Goldnboy26.github.io/Project1sounds/index.html" class="butts">Home</a></li>
              <li><a href="#" class="butts">Search</a></li>
              <li><a href="https://Goldnboy26.github.io/Project1sounds/assets/favorites.html" class=butts>Favorites</a></li>
          </ul>
          <a href="#" id="register" class="btn js-modal-trigger" data-target="modal-js-example">Sign up</a>
      </nav>

      <!-- center text -->

      <div class="intro">
        <p>find new music<p>
        <h2>EXPERIENCES</h2>
        <p>make new</p>
      </div>

      <!-- search bar -->

      <div class="search-bar">
        <form action="" onSubmit="return false;">
          <input type="search" id="searchTerm" placeholder="Artists, Songs, Albums" required>
          <i class="fa fa-search" id="searchTermBtn"></i>
        </form>
      </div>
        
    </div>

      <!-- songs go here -->

        <main id="songs">
        </main>